<div class="container">
	<div class = "row">
		<div class = "col">
			<br>
			<br>
			<h2>Schools</h2>
			<div class="list-group">
			
			<% @schools.each do |school| %>
			  <form method="get" action="/schools/teachers/<%=school.id%>">
				    <button type="submit" class="list-group-item list-group-item-action">


				<li class = "d-flex justify-content-between align-items-center">
					<%= school.name.to_s %> <span class = "badge badge-primary badge-pill">

					<% if admin || pro_user %>
						<%if school.totalSum != 0 %>
						<%= (school.totalRatings.to_f / school.totalSum.to_f).round(2) %>
						<%else%>
							No rating
						<%end%>
					<%end%> 
					</span>

				</li>




			  </form>

			 <%end%>

			</div>
		</div>

	</div>
</div>